body{
    background-color: gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label{
    display: block;
    margin-top:1rem;
}

input{
    border-radius:8px;
    padding: 0.3rem;
}

.data:hover{
    color:blue;
}
